<mat-toolbar color="primary"><span><img src="../../assets/images/safetylogo.png" height=30 width=41></span>

  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a> <a mat-button><span
    class="fa fa-info fa-lg"></span> About</a> <a mat-button routerLink="/catalog"><span
    class="fa fa-list fa-lg"></span> Catalog</a> <a mat-button><span class="fa fa-address-card fa-lg"></span>
    Contact</a></mat-toolbar>


<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="50%"><h1>SSI</h1>
    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome
      safety protection items will tickle your safety vision!</p></div>
  <div fxFlex fxFlex.gt-sm="20%"><img src="../../assets/images/safetylogo.png" alt="Logo" width="200" height="200">
  </div>
  <div fxFlex></div>
</div>
