<!--mat-toolbar color="primary"><span>Sistema de Seguridad Industrial</span></mat-toolbar>
<app-catalog></app-catalog-->
<app-header></app-header>
<router-outlet></router-outlet>
<!--app-catalog-></app-catalog-->

<app-footer></app-footer>

